<!-- /templates/customers/login.liquid -->
{% section 'login-header' %}
<div class="main mt-5">
  <div class="container">
    {% form 'customer_login' %}
    {{ form.errors | default_errors }}
    <div class="form-group">
      <label for="login_email">メールアドレス</label>
      <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp" placeholder="Enter email"
        name="customer[email]">
    </div>
    <div class="form-group">
      <label for="login_password">パスワード</label>
      <input type="password" class="form-control" id="login_password" placeholder="Password" name="customer[password]">
    </div>
    <button type="submit" class="btn btn-dark d-block mx-auto">ログイン</button>
    {% endform %}
    <div class="text-center mt-2">
      <a href="/account/register" class="mx-2 d-block">会員登録はこちら</a>
    </div>

    {% form 'recover_customer_password' %}
    {{ form.errors | default_errors
    }}
    <div class="form-group mt-3">
      <label for="forget_email">パスワードをわすれた方はこちら</label>
      <input type="email" class="form-control" id="forget_email" aria-describedby="emailHelp" placeholder="Enter email"
        name="email">
    </div>
    <button type="submit" class="btn btn-dark d-block mx-auto">送信する</button>
    {% endform %}
  </div>
</div>