{% section 'reset-password-header' %}
<div class="main mt-5">
  <div class="container">
    {% form 'reset_customer_password' %} {{ form.errors | default_errors
    }}
    <div class="form-group">
      <label for="forget_password">パスワード</label>
      <input type="password" class="form-control" id="forget_password" placeholder="Password" name="customer[password]">
    </div>
    <div class="form-group">
      <label for="confirm_password">パスワード(確認)</label>
      <input type="password" class="form-control" id="confirm_password" placeholder="Password"
        name="customer[password_confirmation]">
    </div>
    <button type="submit" class="btn btn-dark d-block mx-auto">送信</button>
    {% endform %}
  </div>
</div>