<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Shopify-Training</a>
    <a href="cart.html" class="tb_menu ml-auto pr-3">
      <span class="navbar-text ">
        <i class="fas fa-shopping-cart fa-lg"></i>
      </span>
      <span class="navbar-text ">
        カート(5)
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog.html">BLOG</a>
        </li>
        <li class="nav-item">
          <div class="dropdown drop-hover">
            <a class="nav-link dropdown-toggle" href="#">
              SHOP
            </a>
            <ul class="dropdown-menu">
              <li class="dropright drop-hover">
                <a class="dropdown-item dropdown-toggle" href="collection.html" data-toggle="dropdown">SIZE</a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="collection.html">1</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="collection.html">10</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="dropdown-item" href="collection.html">MENS</a>
              </li>
              <li>
                <a class="dropdown-item" href="collection.html">WOMENS</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">CONTACT</a>
        </li>
      </ul>
      <div class="pc_menu d-flex">
        <a href="cart.html">
          <span class="navbar-text ">
            <i class="fas fa-shopping-cart fa-lg"></i>
          </span>
          <span class="navbar-text ">
            カート(5)
          </span>
        </a>
        <form>
          <div class="input-group ml-2">
            <input type="text" class="form-control" placeholder="検索">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>