<div class="main">
  <div class="container">
    <div class="row">
      {% assign collection = collections[section.settings.toppage_collection] %}
      {% paginate collection.products by 3 %}
        {% for product in collection.products %}
          <a href="{{ product.url }}" class="col-sm mb-3">
            <div class="card">
              <img class="item_list_img" src="{{ product.featured_image | img_url: '600x' }}" alt="">
              <div class="card-body">
                <p class="card-text font-weight-bold">{{ product.title }}</p>
                <p>{{ product.price | money }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      {% endpaginate %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Toppage Collection",
  "settings": [
    {
      "type": "collection",
      "id": "toppage_collection",
      "label": "Toppage_Collection"
    }
  ]
}
{% endschema %}